[submodule "btt/HydroTouch"]
	path = btt/HydroTouch
	url = https://github.com/dnnsmnstrr/HydroTouch.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "alfred/workflows"]
	path = alfred/workflows
	url = git@github.com:dnnsmnstrr/workflows.git
