<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custom</key>
	<string>on alfred_script(q)
	tell application "Terminal"
		try
			if (count of windows) is 0 then
				do script q
			else
				do script q in window 1
			end if
			activate
		on error
			beep
		end try
	end tell
end alfred_script</string>
	<key>prefix</key>
	<integer>4</integer>
</dict>
</plist>
