"*":
  Hydrogen: {}
  "atom-beautify":
    general:
      _analyticsUserId: "1d32ae64-ff64-4cf8-acd3-f8dfa6d889ab"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    packagesWithKeymapsDisabled: [
      "platformio-ide"
    ]
    telemetryConsent: "limited"
  "exception-reporting":
    userId: "096c4a4f-b3e3-4c2e-91ec-2d21955c5b7c"
  "file-icons":
    coloured: false
  "linter-ui-default":
    panelHeight: 202
    useBusySignal: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "scroll-through-time":
    modifierKey: "altKey"
  "tool-bar":
    position: "Left"
    visible: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
