<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>16963859-6E10-4073-B598-A64ABA605AEE</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Search GitHub for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?q={query}&amp;amp;ref=opensearch</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>477171BA-0742-4160-9C79-B9021642C07F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>kym</string>
			<key>text</key>
			<string>Search Know Your Meme for '{query}'</string>
			<key>url</key>
			<string>https://knowyourmeme.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>60A238F8-9AA2-4692-8B35-2BC8BDEC19BF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>snopes</string>
			<key>text</key>
			<string>Search Snopes for '{query}'</string>
			<key>url</key>
			<string>https://www.snopes.com/?s={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6EA28645-A85A-4D29-BE15-9ED071B951DC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>trope</string>
			<key>text</key>
			<string>Search TV Tropes for '{query}'</string>
			<key>url</key>
			<string>https://tvtropes.org/pmwiki/search_result.php?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E99B79BD-3FA6-4074-85AB-A750C19F811A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gns</string>
			<key>text</key>
			<string>Search Genius for '{query}'</string>
			<key>url</key>
			<string>https://genius.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ED8EEE42-1534-421C-B956-A63F9B4CBF6B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>icons</string>
			<key>text</key>
			<string>Search for {query} icons</string>
			<key>url</key>
			<string>https://icons.deanishe.net/search/?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FBE04A45-4F49-45DC-817E-C4CFCBBB3FCB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gls</string>
			<key>text</key>
			<string>Search hpm gitlab for '{query}'</string>
			<key>url</key>
			<string>https://hpm.agency/search?utf8=%E2%9C%93&amp;snippets=&amp;scope=&amp;repository_ref=&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
