<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>FBE04A45-4F49-45DC-817E-C4CFCBBB3FCB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gls</string>
			<key>text</key>
			<string>hpm Gitlab</string>
			<key>url</key>
			<string>https://hpm.agency/search?utf8=%E2%9C%93&amp;snippets=&amp;scope=&amp;repository_ref=&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
